/*input[type="radio" ]{
	display: none;
}*/
input{
	margin: 10px;
	vertical-align: middle;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: 0 !important;
}
input[type="checkbox"]:after{
	content:'';
	display: block;
	width:15px;
	height: 15px;
	text-align: center;
	line-height: 11px;
	font-size: 10px;
	color: #fff;
	border: 1px solid #ddd;
	background-color: #fff;
	box-sizing: border-box;
	
}

input[type="checkbox"]:checked:after{
	content: '\2714';
	border-color: red;
	color: red;
}

input[type="radio"]:after{
	content: '';
	display: block;
	width: 13px;
	height: 13px;
	border:1px solid rgb(164,164,164);
	border-radius: 50%;
}

input[type="radio"]:checked:after{
	content:'●';
	font-size: 5px;
	text-align: center;
	color: red;
}
